{% extends 'dashboard_base.html' %}
{% load static %}
{% block "body" %}

  


<div id="upload_overlay" class="fixed inset-0 bg-transparent flex items-center justify-center z-50 ">
  <div class="relative bg-white rounded-lg shadow-lg w-full max-w-md p-6">
    <!-- Close Button -->
    <button id="closeFileModal" onclick="closeModal()" class="absolute top-2 right-2 text-gray-500 hover:text-gray-800 cursor-pointer text-3xl font-bold">
      &times;
    </button>

    <!-- Upload Form Starts Here -->
    <form method="post"  action="{% url 'create_group' %}" id="upload_form" class="space-y-6" hx-post="{% url 'create_group' %}">
      <h2 class="text-2xl font-bold mb-6 text-gray-800">Create Group</h2>
      {% csrf_token %}

      
      <!-- Name Input -->
      <div>
        <label for="id_name" class="block text-sm font-medium text-gray-700 mb-1">Name</label>
        {{ form.name }}
      </div>

      

      <!-- Submit Button -->
      <div>
        <button type="submit"
                class="w-full bg-[#063b48] text-white py-2 px-4 rounded-md hover:bg-[#052e38] transition cursor-pointer">
          Create
        </button>
      </div>
    </form>
  </div>
</div>





<style>
  #id_name {
    border: 1px solid #ccc !important;
    border-radius: 4px;
    padding: 2px 4px;        
}
</style>


<script>
function closeModal() {
  const modal = document.getElementById('upload_overlay');
  modal.removeChild(modal.firstChild);
}
</script>

{% endblock "body" %}
