<!-- File Details Modal -->
    <div id="fileDetailsModal" class="hidden fixed inset-0 bg-transparent shadow flex items-center justify-center z-50 w-full ">
        <div class="bg-white rounded-lg shadow-lg ">
            <div class="bg-[#084B5B] rounded-tl-md rounded-tr-md  flex justify-between items-center border-b px-6 py-4">
                <h3 class="text-lg font-semibold text-white ">Info</h3>
                <button class="text-white cursor-pointer" onclick="closeModal()">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <p>File Uploaded Syccessfully</p>
            <div class="flex justify-end border-t px-6 py-4">
                <button class="bg-[#084B5B] text-white px-4 py-2 rounded  cursor-pointer" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>

    <script>
        
        function closeModal() {
            document.getElementById('fileDetailsModal').classList.add('hidden');
        }
    </script>