{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/bulma.min.css' %}" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="{% static 'js/index.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <title>Document</title>
  </head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' class="min-h-screen">
  
  {% block "body" %}
  
  {% endblock  %}
</body>
