{% extends 'base.html' %}
 {% load static %}
 {% block "body" %}
{% include "partials/navbar.html" %}

<section class=" my-36 h-full">
  <div class="container">
    <div class="columns is-centered">
      <div
        class="column is-full-mobile is-half-tablet is-one-third-desktop"
        style="max-width: 500px"
      >
        <h1 class="title has-text-primary">Forgot your password?</h1>
        <p class="mb-4">
          Enter your email address and we'll send you a link to reset your
          password.
        </p>

        <form method="POST">
          {% csrf_token %} {% if form.email.errors %}
          <p class="help is-danger">{{ form.email.errors.0 }}</p>
          {% endif %}

          <div class="field">
            <label class="label has-text-primary" for="id_email">Email</label>
            <div class="control">
              <input
                class="input"
                type="email"
                name="email"
                id="id_email"
                required
              />
            </div>
          </div>

          <!-- Submit -->
          <div class="field mt-4">
            <div class="control">
              <button
                type="submit"
                class="button h-4 is-fullwidth has-bg-primary-custom has-text-white"
              >
                Send Reset Link
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
