{% extends 'base.html' %}
{% block "body" %}
<section class="section w-full h-screen relative">
  <div class="  absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
    <h1 class="title has-text-primary">Check your email</h1>
    <p>We've emailed you instructions to reset your password.</p>
    <p>If you don't see the email, check your spam folder.</p>
    <p>Didn't receive an email? <a href="{% url 'password_reset' %}" class="has-text-primary-custom"> <strong>Click here</strong> </a> to try again.</p>
  </div>
</section>
{% endblock %}
