{% extends 'base.html' %} {% block "body" %}
<section class="w-full h-screen relative ">
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 is-max-desktop w-full p-6 max-w-[500px]">
    <h1 class="title has-text-primary">Reset your password</h1>

    <form method="POST" class="box">
      {% csrf_token %}
      <div class="flex flex-col my-4">

        {{ form.as_p }}
      </div> 
      <button type="submit" class="button is-primary is-fullwidth has-text-white">
        Change password
      </button>
    </form>
  </div>
</section>

<style>
  #id_new_password2_error{
    color: red;
    font-size:14px
  }
  #id_new_password1, #id_new_password2  {
    border: 1px solid hsl(221, 14%, 86%);
    border-radius: 4px;
    color: hsl(var(--bulma-input-h), var(--bulma-input-s), var(--bulma-input-color-l));
  }
  p{
    display: flex;
    flex-direction: column;
    gap:8px
  }
  input{
    height: 2.5rem;
  }
</style>



<script>
  document.querySelector("ul").remove();
  document.querySelector("#id_new_password2_helptext").remove();
  
  
</script>

{% endblock %}
